# Install libs and config frameworks

♟

In [ ]:
!pip install geopandas

In [1]:
# import geopandas as gdf
import matplotlib 
import pandas as pd

## Import data

### File: 

Read file from: 
https://sidra.ibge.gov.br/acervo#/S/IU/A/110/T/Q

In [ ]:
xlsx_file_link = '/content/Tabela de dados agregados.xlsx'
pd.read_excel(xlsx_file_link)

Empty DataFrame
Columns: [1160, Distribuição percentual de moradores em domicílios particulares permanentes pelo tipo de esgotamento sanitário, segundo a situação do domicílio]
Index: []

##  Ações necessárias para tratar o arquivo. -  Necessary action for make the file
- Importa o aquivo no formato csv e define para ele uma variável < ppiread >
- definido outra variável < pip_df > , 'read' lê arquivo definindo o separdador que por padrão é ' , ' porem no caso 'sep = ; ' 
- econding por padrão é o 'utf-8' mas no caso é ' econding = 'ISO-8859-1', o que é comum para arquivos dessa fonte de dados. 
- 'display' mostra o for aquivo 'head(10)' define a quantidade de linhas 
- print

In [ ]:
ppiread = '/content/dados-abertos_ppi_31.08.18.csv'
# df = pd.read_csv(ppiread, encoding='ISO-8859-1', error_bad_lines=False, engine='python')
# ppi_df = pd.read_csv(ppiread, sep=';', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, engine=None, encoding='ISO-8859-1')
ppi_df = pd.read_csv(ppiread, sep = ';', delimiter=None, encoding='ISO-8859-1')
# display(ppi_df.head(10))
display(ppi_df.head(244))
print(ppi_df.shape.index)

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

- Exiba de maneira crua, porém útil para se visualizar a quantidade de linha e colunas

In [ ]:
ppi_df

- Excluir as linhas completamente vazias, < dropna(how = 'all') > 
 - para o caso de excluir alguma que tenha pelo menos um  vazio < dropna() >
- Para caso precise remover alguma coluna < .drop('name', axis = 1) >
 - Para remover linha < .drop(0) >
- verificar se tem alguma cédula que esteja vazia < .notnull().all() >

In [ ]:
ppi_df.dropna(how='all')

- Definer a quantide de valore vazios nas linhas e colunas que sobraram

In [ ]:
ppi_df.columns

- Checar possíveis colunas vazias:

In [ ]:
display(ppi_df['Unnamed: 43'].dropna(how=('all')))

In [ ]:
ppi_df.notna()

- Ler a linha especificada e excluir a leitura das vazias

In [ ]:
display(ppi_df.loc[4].dropna(how=('all')))

- Removedo colunas

In [3]:
ppi_df_v2 = ppi_df.drop([ 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                          'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 44',
                          'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
                          'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
                          'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
                          'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
                          'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64',
                          'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68',
                          'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72',
                          'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76',
                          'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80',
                          'Unnamed: 81'], axis=1)

In [4]:
ppi_df_v3 = ppi_df_v2.dropna(how='all')

In [ ]:
ppi_df_v3

- Clear cvs file (Limpar arquivo)

In [ ]:
ppi_df_v3['Unnamed: 0'].head(15)

- Procurando valores vazios em cada coluna (missing empty value)

In [5]:
count = 0 
for row in ppi_df_v3['Unnamed: 10']:
    try:
      int(row)
      ppi_df_v3[count, 'Unnamed: 10'] = np.nan
    except ValueError: 
      pass
    count += 1

- count number values cells (contando o numero de celulas vazias)

In [ ]:
ppi_df_v3.isnull().sum()

- check info above, include empty columns in step above - code line 27 (checar a informação acima e incluir as as colunas  vazias na rotina da linha do cidigo 27) - ajust this after.

In [ ]:
ppi_df_v3['Unnamed: 27'].head(200)

In [8]:
ppi_df_v4 = ppi_df_v3.drop([ 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
                          'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                          'Unnamed: 34'], axis = 1)

In [ ]:
ppi_df_v4

- Dtype columns

In [ ]:
ppi_df_v4.info() # ppi_df_v4.info(verbose=True)

- metodo < query >

In [ ]:
# ppi_df_v4.map(lambda x: x.replace('', '_') if isinstance(x, (str))else x)
# ppi_df_v4.query('Nation == "Brasil"').head(10)

In [ ]:
ppi_df_v4.index

In [ ]:
ppi_df_v4.columns

In [ ]:
# ppi_df_v4.set_index('Unnamed: 0', inplace=True)

In [ ]:
ppi_df_v4.index

In [ ]:
ppi_df_v4.columns

- set index for column 01 - (reindexando a primeira coluna, que por padrão é gerada pelo pandas)

In [ ]:
# ppi_df_v4.set_index('Unnamed: 0', inplace=True)

- Use loc <.loc[row1, row2...['column1', 'column2',...]] for slace < : >

In [ ]:
ppi_df_v4.loc[4:]

In [ ]:
ppi_df_v4.columns

In [ ]:
ppi_df_v4.rename(columns={'Unnamed: 2' : 'Estado'})

# Categorical variable

- Describe quantidades, particularidades, referência e frequência.

In [31]:
df_pip_cats = ppi_df_v4.select_dtypes(include=object)

In [ ]:
df_pip_cats.describe()

In [47]:
df_pip_cats.rename(columns={'Unnamed: 15' : 'Setor'}, inplace=True)

## One-hot enconder - tratamentode variáveis categoricas nominais.

- Category Encoders / Scikit Learn
 - Docs:
  -  https://contrib.scikit-learn.org/category_encoders/index.html
  - https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-categorical-features

In [ ]:
!pip install category_encoders

In [ ]:
import category_encoders as ce

In [28]:
from category_encoders.one_hot import OneHotEncoder

In [ ]:
df_pip_cats['Setor'].head(15)

In [49]:
one_hot_enc = OneHotEncoder(cols=['Setor'])

In [ ]:
one_hot_enc.fit_transform(df_pip_cats)

# Label Encoder

# Criação de um novo dataframe - Create a new dataframe

In [ ]:
display(ppi_df.describe()) # Outro tratamento necessário

- Criação de nova dataframe if new colunas e linhas. 
 - (create new dataframe)

In [ ]:
new_data_ppi = pd.DataFrame({'col00':[0,1,2],'col01':[0,1,2],'col02':[0,1,2]}, index=['row_00', 'row_01', 'row_02'])
new_data_ppi

        col00  col01  col02
row_00      0      0      0
row_01      1      1      1
row_02      2      2      2

- Exemplo Series

In [ ]:
variable = pd.Series(['0', '1', '2', '3'], index=['00', '01', '02', '03'], name='series_name')
variable

00    0
01    1
02    2
03    3
Name: series_name, dtype: object

- Export file to csv

In [ ]:
new_data_ppi.to_csv('easy_read_data_ppi.csv')

### Data processing

Site of search

In [ ]:
url = '...'

Read the spreadsheet: the format can be different, in this case html

In [ ]:
html = pd.read_html(url, match='nome')

bulding local spreadsheet

In [ ]:
areas_leitura = {'coll': [1,2], 'coll': [3,4]}

In [ ]:
areas_leitura = pd.DataFrame()

## Plot map with data

In [ ]:
mapaBrasil = gdf.read_file('/content/brazil_states/BRUFE250GC_SIR.shp')
mapaBrasil.plot(figsize=(20, 20))