# Install libs and config frameworks

♟

In [ ]:
!pip install geopandas

In [1]:
# import geopandas as gdf
import matplotlib 
import pandas as pd

## Import data

### File: 

Read file from: 
https://sidra.ibge.gov.br/acervo#/S/IU/A/110/T/Q

In [ ]:
xlsx_file_link = '/content/Tabela de dados agregados.xlsx'
pd.read_excel(xlsx_file_link)

Empty DataFrame
Columns: [1160, Distribuição percentual de moradores em domicílios particulares permanentes pelo tipo de esgotamento sanitário, segundo a situação do domicílio]
Index: []

##  Ações necessárias para tratar o arquivo. -  Necessary action for make the file
- Importa o aquivo no formato csv e define para ele uma variável < ppiread >
- definido outra variável < pip_df > , 'read' lê arquivo definindo o separdador que por padrão é ' , ' porem no caso 'sep = ; ' 
- econding por padrão é o 'utf-8' mas no caso é ' econding = 'ISO-8859-1', o que é comum para arquivos dessa fonte de dados. 
- 'display' mostra o for aquivo 'head(10)' define a quantidade de linhas 
- print

In [2]:
ppiread = '/content/dados-abertos_ppi_31.08.18.csv'
# df = pd.read_csv(ppiread, encoding='ISO-8859-1', error_bad_lines=False, engine='python')
# ppi_df = pd.read_csv(ppiread, sep=';', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, engine=None, encoding='ISO-8859-1')
ppi_df = pd.read_csv(ppiread, sep = ';', delimiter=None, encoding='ISO-8859-1')
# display(ppi_df.head(10))
display(ppi_df.head(244))
print(ppi_df.shape.index)

    Unnamed: 0      Unnamed: 1  ... Unnamed: 80 Unnamed: 81
0          NaN             NaN  ...         NaN         NaN
1          NaN             NaN  ...         NaN         NaN
2          NaN             NaN  ...         NaN         NaN
3          NaN             NaN  ...         NaN         NaN
4            #  Empreendimento  ...         NaN         NaN
..         ...             ...  ...         ...         ...
239        NaN             NaN  ...         NaN         NaN
240        NaN             NaN  ...         NaN         NaN
241        NaN             NaN  ...         NaN         NaN
242        NaN             NaN  ...         NaN         NaN
243        NaN             NaN  ...         NaN         NaN

[244 rows x 82 columns]

<built-in method index of tuple object at 0x7f9ddafcb4b0>

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

- Exiba de maneira crua, porém útil para se visualizar a quantidade de linha e colunas

In [ ]:
ppi_df

- Excluir as linhas completamente vazias, < dropna(how = 'all') > 
 - para o caso de excluir alguma que tenha pelo menos um  vazio < dropna() >
- Para caso precise remover alguma coluna < .drop('name', axis = 1) >
 - Para remover linha < .drop(0) >
- verificar se tem alguma cédula que esteja vazia < .notnull().all() >

In [3]:
ppi_df.dropna(how='all')

    Unnamed: 0  ... Unnamed: 81
0          NaN  ...         NaN
1          NaN  ...         NaN
2          NaN  ...         NaN
3          NaN  ...         NaN
4            #  ...         NaN
..         ...  ...         ...
195        191  ...         NaN
196        NaN  ...         NaN
197        NaN  ...         NaN
198        NaN  ...         NaN
199        NaN  ...         NaN

[200 rows x 82 columns]

- Definer a quantide de valore vazios nas linhas e colunas que sobraram

In [ ]:
ppi_df.columns

- Checar possíveis colunas vazias:

In [4]:
display(ppi_df['Unnamed: 43'].dropna(how=('all')))

5       1.590.000.000,00
6         241.000.000,00
7       1.505.000.000,00
8         382.000.000,00
36         50.005.212,14
             ...
134     3.842.775.506,02
135     3.300.000.000,00
136     2.850.000.000,00
197                 0,00
199    30.673.364.977,72
Name: Unnamed: 43, Length: 62, dtype: object

In [5]:
ppi_df.notna()

     Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 79  Unnamed: 80  Unnamed: 81
0         False       False       False  ...        False        False        False
1         False       False       False  ...        False        False        False
2         False       False       False  ...        False        False        False
3         False       False       False  ...        False        False        False
4          True        True        True  ...        False        False        False
..          ...         ...         ...  ...          ...          ...          ...
239       False       False       False  ...        False        False        False
240       False       False       False  ...        False        False        False
241       False       False       False  ...        False        False        False
242       False       False       False  ...        False        False        False
243       False       False       False  ...        False        False        False

[244 rows x 82 columns]

- Ler a linha especificada e excluir a leitura das vazias

In [6]:
display(ppi_df.loc[4].dropna(how=('all')))

Unnamed: 0                                                          #
Unnamed: 1                                             Empreendimento
Unnamed: 2                                                         UF
Unnamed: 3                                      Previsão de Conclusão
Unnamed: 4                                   Investimentos\nEstimados
Unnamed: 5                                            Outorga Efetiva
Unnamed: 6              % Excedente Partilha Mínimo (média das áreas)
Unnamed: 7                                       % Excedente Partilha
Unnamed: 8                          Nº Empresas participantes Leilões
Unnamed: 9                                     Empresas Participantes
Unnamed: 10                                             Nacionalidade
Unnamed: 11                      Publicação do Edital/\nTermo Aditivo
Unnamed: 12                                   Sessão Pública (Leilão)
Unnamed: 13                                      Licitante\nVencedora
Unnamed: 14                                             Nacionalidade
Unnamed: 15                                                Ministério
Unnamed: 16                                                     Setor
Unnamed: 17                                                  Subsetor
Unnamed: 18                                   Modalidade\nOperacional
Unnamed: 19                                              Qualificação
Unnamed: 20                                                    ESTUDO
Unnamed: 21                                          CONSULTA PÚBLICA
Unnamed: 22                                               ACÓRDÃO TCU
Unnamed: 23                                                    EDITAL
Unnamed: 24                                                    LEILÃO
Unnamed: 25                                                  CONTRATO
Unnamed: 26                                 ESTÁGIO ATUAL DO PROCESSO
MODALIDADE CONCESSÃO                              5. Leilão realizado
Name: 4, dtype: object

- Removedo colunas

In [7]:
ppi_df_v2 = ppi_df.drop([ 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                          'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 44',
                          'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
                          'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
                          'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
                          'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
                          'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64',
                          'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68',
                          'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72',
                          'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76',
                          'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80',
                          'Unnamed: 81'], axis=1)

In [8]:
ppi_df_v3 = ppi_df_v2.dropna(how='all')

In [ ]:
ppi_df_v3

- Clear cvs file (Limpar arquivo)

In [9]:
ppi_df_v3['Unnamed: 0'].head(15)

0     NaN
1     NaN
2     NaN
3     NaN
4       #
5       1
6       2
7       3
8       4
9       5
10      6
11      7
12      8
13      9
14     10
Name: Unnamed: 0, dtype: object

- Procurando valores vazios em cada coluna (missing empty value)

In [10]:
count = 0 
for row in ppi_df_v3['Unnamed: 10']:
    try:
      int(row)
      ppi_df_v3[count, 'Unnamed: 10'] = np.nan
    except ValueError: 
      pass
    count += 1

- count number values cells (contando o numero de celulas vazias)

In [11]:
ppi_df_v3.isnull().sum()

Unnamed: 0                  8
Unnamed: 1                  8
Unnamed: 2                 11
Unnamed: 3                108
Unnamed: 4                 25
Unnamed: 5                102
Unnamed: 6                198
Unnamed: 7                196
Unnamed: 8                118
Unnamed: 9                125
Unnamed: 10               128
Unnamed: 11                84
Unnamed: 12                94
Unnamed: 13               103
Unnamed: 14               103
Unnamed: 15                 8
Unnamed: 16                 8
Unnamed: 17                 8
Unnamed: 18                 8
Unnamed: 19                 8
Unnamed: 20                27
Unnamed: 21                70
Unnamed: 22                90
Unnamed: 23                89
Unnamed: 24               101
Unnamed: 25               141
Unnamed: 26                 8
Unnamed: 27               200
Unnamed: 28               200
Unnamed: 29               200
Unnamed: 30               200
Unnamed: 31               200
Unnamed: 32               200
Unnamed: 33               200
Unnamed: 34               200
MODALIDADE CONCESSÃO      193
MODALIDADE PRORROGAÇÃO    198
Unnamed: 43               138
dtype: int64

- check info above, include empty columns in step above - code line 27 (checar a informação acima e incluir as as colunas  vazias na rotina da linha do cidigo 27) - ajust this after.

In [12]:
ppi_df_v3['Unnamed: 27'].head(200)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
195   NaN
196   NaN
197   NaN
198   NaN
199   NaN
Name: Unnamed: 27, Length: 200, dtype: float64

In [13]:
ppi_df_v4 = ppi_df_v3.drop([ 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
                          'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                          'Unnamed: 34'], axis = 1)

In [ ]:
ppi_df_v4

- Dtype columns

In [14]:
ppi_df_v4.info() # ppi_df_v4.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              192 non-null    object
 1   Unnamed: 1              192 non-null    object
 2   Unnamed: 2              189 non-null    object
 3   Unnamed: 3              92 non-null     object
 4   Unnamed: 4              175 non-null    object
 5   Unnamed: 5              98 non-null     object
 6   Unnamed: 6              2 non-null      object
 7   Unnamed: 7              4 non-null      object
 8   Unnamed: 8              82 non-null     object
 9   Unnamed: 9              75 non-null     object
 10  Unnamed: 10             72 non-null     object
 11  Unnamed: 11             116 non-null    object
 12  Unnamed: 12             106 non-null    object
 13  Unnamed: 13             97 non-null     object
 14  Unnamed: 14             97 non-null     object
 15  Unnamed: 15             192 non-null    object
 16  Unnamed: 16             192 non-null    object
 17  Unnamed: 17             192 non-null    object
 18  Unnamed: 18             192 non-null    object
 19  Unnamed: 19             192 non-null    object
 20  Unnamed: 20             173 non-null    object
 21  Unnamed: 21             130 non-null    object
 22  Unnamed: 22             110 non-null    object
 23  Unnamed: 23             111 non-null    object
 24  Unnamed: 24             99 non-null     object
 25  Unnamed: 25             59 non-null     object
 26  Unnamed: 26             192 non-null    object
 27  MODALIDADE CONCESSÃO    7 non-null      object
 28  MODALIDADE PRORROGAÇÃO  2 non-null      object
 29  Unnamed: 43             62 non-null     object
dtypes: object(30)
memory usage: 48.4+ KB

- metodo < query >

In [ ]:
# ppi_df_v4.map(lambda x: x.replace('', '_') if isinstance(x, (str))else x)
# ppi_df_v4.query('Nation == "Brasil"').head(10)

In [15]:
ppi_df_v4.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            190, 191, 192, 193, 194, 195, 196, 197, 198, 199],
           dtype='int64', length=200)

In [ ]:
ppi_df_v4.columns

In [ ]:
# ppi_df_v4.set_index('Unnamed: 0', inplace=True)

In [ ]:
ppi_df_v4.index

In [ ]:
ppi_df_v4.columns

- set index for column 01 - (reindexando a primeira coluna, que por padrão é gerada pelo pandas)

In [ ]:
# ppi_df_v4.set_index('Unnamed: 0', inplace=True)

- Use loc <.loc[row1, row2...['column1', 'column2',...]] for slace < : >

In [16]:
ppi_df_v4.loc[4:]

    Unnamed: 0  ...        Unnamed: 43
4            #  ...                NaN
5            1  ...   1.590.000.000,00
6            2  ...     241.000.000,00
7            3  ...   1.505.000.000,00
8            4  ...     382.000.000,00
..         ...  ...                ...
195        191  ...                NaN
196        NaN  ...                NaN
197        NaN  ...               0,00
198        NaN  ...                NaN
199        NaN  ...  30.673.364.977,72

[196 rows x 30 columns]

In [ ]:
ppi_df_v4.columns

In [17]:
ppi_df_v4.rename(columns={'Unnamed: 2' : 'Estado'})

    Unnamed: 0  ...        Unnamed: 43
0          NaN  ...                NaN
1          NaN  ...                NaN
2          NaN  ...                NaN
3          NaN  ...                NaN
4            #  ...                NaN
..         ...  ...                ...
195        191  ...                NaN
196        NaN  ...                NaN
197        NaN  ...               0,00
198        NaN  ...                NaN
199        NaN  ...  30.673.364.977,72

[200 rows x 30 columns]

# Categorical variable

- Describe quantidades, particularidades, referência e frequência.

In [18]:
df_pip_cats = ppi_df_v4.select_dtypes(include=object)

In [19]:
df_pip_cats.describe()

       Unnamed: 0      Unnamed: 1  ... MODALIDADE PRORROGAÇÃO Unnamed: 43
count         192             192  ...                      2          62
unique        192             192  ...                      2          58
top             #  Empreendimento  ...              1. Estudo        0,00
freq            1               1  ...                      1           5

[4 rows x 30 columns]

In [20]:
df_pip_cats.rename(columns={'Unnamed: 15' : 'Setor'}, inplace=True)

## One-hot enconder - tratamentode variáveis categoricas nominais.

- Category Encoders / Scikit Learn
 - Docs:
  -  https://contrib.scikit-learn.org/category_encoders/index.html
  - https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-categorical-features

In [ ]:
!pip install category_encoders

In [22]:
import category_encoders as ce

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [23]:
from category_encoders.one_hot import OneHotEncoder

In [24]:
df_pip_cats['Setor'].head(15)

0            NaN
1            NaN
2            NaN
3            NaN
4     Ministério
5          MTPA
6          MTPA
7          MTPA
8          MTPA
9          MTPA
10         MTPA
11         MTPA
12         MTPA
13         MTPA
14         MTPA
Name: Setor, dtype: object

In [25]:
one_hot_enc = OneHotEncoder(cols=['Setor'])

In [26]:
one_hot_enc.fit_transform(df_pip_cats)

    Unnamed: 0  ...        Unnamed: 43
0          NaN  ...                NaN
1          NaN  ...                NaN
2          NaN  ...                NaN
3          NaN  ...                NaN
4            #  ...                NaN
..         ...  ...                ...
195        191  ...                NaN
196        NaN  ...                NaN
197        NaN  ...               0,00
198        NaN  ...                NaN
199        NaN  ...  30.673.364.977,72

[200 rows x 36 columns]

In [34]:
df_pip_cats.loc[4]

Unnamed: 0                                                            #
Unnamed: 1                                               Empreendimento
Unnamed: 2                                                           UF
Unnamed: 3                                        Previsão de Conclusão
Unnamed: 4                                     Investimentos\nEstimados
Unnamed: 5                                              Outorga Efetiva
Unnamed: 6                % Excedente Partilha Mínimo (média das áreas)
Unnamed: 7                                         % Excedente Partilha
Unnamed: 8                            Nº Empresas participantes Leilões
Unnamed: 9                                       Empresas Participantes
Unnamed: 10                                               Nacionalidade
Unnamed: 11                        Publicação do Edital/\nTermo Aditivo
Unnamed: 12                                     Sessão Pública (Leilão)
Unnamed: 13                                        Licitante\nVencedora
Unnamed: 14                                               Nacionalidade
Setor                                                        Ministério
Unnamed: 16                                                       Setor
Unnamed: 17                                                    Subsetor
Unnamed: 18                                     Modalidade\nOperacional
Unnamed: 19                                                Qualificação
Unnamed: 20                                                      ESTUDO
Unnamed: 21                                            CONSULTA PÚBLICA
Unnamed: 22                                                 ACÓRDÃO TCU
Unnamed: 23                                                      EDITAL
Unnamed: 24                                                      LEILÃO
Unnamed: 25                                                    CONTRATO
Unnamed: 26                                   ESTÁGIO ATUAL DO PROCESSO
MODALIDADE CONCESSÃO                                5. Leilão realizado
MODALIDADE PRORROGAÇÃO                                              NaN
Unnamed: 43                                                         NaN
Name: 4, dtype: object

- create dateframe reduced

In [35]:
df_pip_cats.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Setor', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'MODALIDADE CONCESSÃO', 'MODALIDADE PRORROGAÇÃO', 'Unnamed: 43'],
      dtype='object')

In [48]:
df_pip_cats.columns = [' #', 'Empreendimento', 'UF', 'Previsão de Conclusão', 'Investimentos\nEstimados',
                       'Outorga Efetiva', '% Excedente Partilha Mínimo (média das áreas)', '% Excedente Partilha', 'Nº Empresas participantes Leilões', 'Empresas Participantes',
                       'Nacionalidade', 'Publicação do Edital/\nTermo Aditivo', ' Sessão Pública (Leilão)', 'Licitante\nVencedora',
                       'Nacionalidade', 'Ministério', 'Setor', 'Subsetor',
                       'Modalidade\nOperacional', 'Qualificação', 'ESTUDO', 'CONSULTA PÚBLICA',
                       'ACÓRDÃO TCU', 'EDITAL', 'LEILÃO', 'CONTRATO', 'ESTÁGIO ATUAL DO PROCESSO',
                       'MODALIDADE CONCESSÃO', 'MODALIDADE PRORROGAÇÃO', 'NA']

In [ ]:
# df_pip_cats.raname(columns=lambda )

# LabelEncoder

- Docs: 
 - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

# Criação de um novo dataframe - Create a new dataframe

In [ ]:
display(ppi_df.describe()) # Outro tratamento necessário

- Criação de nova dataframe if new colunas e linhas. 
 - (create new dataframe)

In [ ]:
new_data_ppi = pd.DataFrame({'col00':[0,1,2],'col01':[0,1,2],'col02':[0,1,2]}, index=['row_00', 'row_01', 'row_02'])
new_data_ppi

        col00  col01  col02
row_00      0      0      0
row_01      1      1      1
row_02      2      2      2

- Exemplo Series

In [ ]:
variable = pd.Series(['0', '1', '2', '3'], index=['00', '01', '02', '03'], name='series_name')
variable

00    0
01    1
02    2
03    3
Name: series_name, dtype: object

- Export file to csv

In [ ]:
new_data_ppi.to_csv('easy_read_data_ppi.csv')

### Data processing

Site of search

In [ ]:
url = '...'

Read the spreadsheet: the format can be different, in this case html

In [ ]:
html = pd.read_html(url, match='nome')

bulding local spreadsheet

In [ ]:
areas_leitura = {'coll': [1,2], 'coll': [3,4]}

In [ ]:
areas_leitura = pd.DataFrame()

## Plot map with data

In [ ]:
mapaBrasil = gdf.read_file('/content/brazil_states/BRUFE250GC_SIR.shp')
mapaBrasil.plot(figsize=(20, 20))