# Install libs and config frameworks

♟

In [1]:
# import geopandas as gdf
import matplotlib 
import pandas as pd

## Import data

### File: 

Read file from: 
https://sidra.ibge.gov.br/acervo#/S/IU/A/110/T/Q

In [ ]:
# xlsx_file_link = '/content/Tabela de dados agregados.xlsx'
# pd.read_excel(xlsx_file_link)

##  Ações necessárias para tratar o arquivo. -  Necessary action for make the file
- Importa o aquivo no formato csv e define para ele uma variável < ppiread >
- definido outra variável < pip_df > , 'read' lê arquivo definindo o separdador que por padrão é ' , ' porem no caso 'sep = ; ' 
- econding por padrão é o 'utf-8' mas no caso é ' econding = 'ISO-8859-1', o que é comum para arquivos dessa fonte de dados. 
- 'display' mostra o for aquivo 'head(10)' define a quantidade de linhas 
- print

In [ ]:
ppiread = '/content/dados-abertos_ppi_31.08.18.csv'
# df = pd.read_csv(ppiread, encoding='ISO-8859-1', error_bad_lines=False, engine='python')
# ppi_df = pd.read_csv(ppiread, sep=';', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, engine=None, encoding='ISO-8859-1')
ppi_df = pd.read_csv(ppiread, sep = ';', delimiter=None, encoding='ISO-8859-1')
# display(ppi_df.head(10))
display(ppi_df.head(244))
print(ppi_df.shape.index)

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

- Exiba de maneira crua, porém útil para se visualizar a quantidade de linha e colunas

In [ ]:
ppi_df

- Excluir as linhas completamente vazias, < dropna(how = 'all') > 
 - para o caso de excluir alguma que tenha pelo menos um  vazio < dropna() >
- Para caso precise remover alguma coluna < .drop('name', axis = 1) >
 - Para remover linha < .drop(0) >
- verificar se tem alguma cédula que esteja vazia < .notnull().all() >

In [ ]:
ppi_df.dropna(how='all')

- Definer a quantide de valore vazios nas linhas e colunas que sobraram

In [ ]:
ppi_df.columns

- Checar possíveis colunas vazias:

In [ ]:
display(ppi_df['Unnamed: 43'].dropna(how=('all')))

In [ ]:
ppi_df.notna()

- Ler a linha especificada e excluir a leitura das vazias

In [ ]:
display(ppi_df.loc[4].dropna(how=('all')))

- Removedo colunas

In [7]:
ppi_df_v2 = ppi_df.drop([ 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                          'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 44',
                          'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
                          'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
                          'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
                          'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
                          'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64',
                          'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68',
                          'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72',
                          'Unnamed: 73', 'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76',
                          'Unnamed: 77', 'Unnamed: 78', 'Unnamed: 79', 'Unnamed: 80',
                          'Unnamed: 81'], axis=1)

In [8]:
ppi_df_v3 = ppi_df_v2.dropna(how='all')

In [ ]:
ppi_df_v3

- Clear cvs file (Limpar arquivo)

In [ ]:
ppi_df_v3['Unnamed: 0'].head(15)

- Procurando valores vazios em cada coluna (missing empty value)

In [10]:
count = 0 
for row in ppi_df_v3['Unnamed: 10']:
    try:
      int(row)
      ppi_df_v3[count, 'Unnamed: 10'] = np.nan
    except ValueError: 
      pass
    count += 1

- count number values cells (contando o numero de celulas vazias)

In [ ]:
ppi_df_v3.isnull().sum()

- check info above, include empty columns in step above - code line 27 (checar a informação acima e incluir as as colunas  vazias na rotina da linha do cidigo 27) - ajust this after.

In [ ]:
ppi_df_v3['Unnamed: 27'].head(200)

In [13]:
ppi_df_v4 = ppi_df_v3.drop([ 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
                          'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                          'Unnamed: 34'], axis = 1)

In [ ]:
ppi_df_v4

- Dtype columns

In [ ]:
ppi_df_v4.info() # ppi_df_v4.info(verbose=True)

- metodo < query >

In [ ]:
# ppi_df_v4.map(lambda x: x.replace('', '_') if isinstance(x, (str))else x)
# ppi_df_v4.query('Nation == "Brasil"').head(10)

In [ ]:
ppi_df_v4.index

In [ ]:
ppi_df_v4.columns

In [ ]:
# ppi_df_v4.set_index('Unnamed: 0', inplace=True)

- set index for column 01 - (reindexando a primeira coluna, que por padrão é gerada pelo pandas)

In [ ]:
# ppi_df_v4.set_index('Unnamed: 0', inplace=True)

- Use loc <.loc[row1, row2...['column1', 'column2',...]] for slace < : >

In [14]:
pd.set_option('max_rows', 200)
pd.set_option('max_columns', 100)

In [ ]:
ppi_df_v4.loc[4:]

- Describe quantidades, particularidades, referência e frequência.

In [ ]:
ppi_df_v4.describe()

In [ ]:
ppi_df_v4.columns.values

# Create a new dataframe - Criação de um novo dataframe

- Criação de nova dataframe if new colunas e linhas. 
 - (create new dataframe)

In [18]:
df_pip_new = ppi_df_v4

In [19]:
df_pip_new.columns = [' #', 'Empreendimento', 'UF', 'Previsão de Conclusão', 'Investimentos\nEstimados',
                       'Outorga Efetiva', '% Excedente Partilha Mínimo (média das áreas)', '% Excedente Partilha', 'Nº Empresas participantes Leilões', 'Empresas Participantes',
                       'Nacionalidade', 'Publicação do Edital * Termo Aditivo', ' Sessão Pública (Leilão)', 'Licitante\nVencedora',
                       'Nacionalidade', 'Ministério', 'Setor', 'Subsetor',
                       'Modalidade\nOperacional', 'Qualificação', 'ESTUDO - MARCOS DO PROJETO', 'CONSULTA PÚBLICA',
                       'ACÓRDÃO TCU', 'EDITAL', 'LEILÃO', 'CONTRATO', 'ESTÁGIO ATUAL DO PROCESSO',
                       'MODALIDADE CONCESSÃO', 'MODALIDADE PRORROGAÇÃO', 'NA']

In [ ]:
df_pip_new

In [ ]:
df_pip_new['MODALIDADE CONCESSÃO']

In [ ]:
print(df_pip_new.loc[:, ['Outorga Efetiva', 'NA']])

In [ ]:
display(ppi_df['MODALIDADE CONCESSÃO'].dropna(how=('all')))

 - Create a subdata - Criar uma subtabela Modallidade de concessão

In [ ]:
df_modal_concessao = pd.DataFrame({'MODALIDADE CONCESSÃO': ['1. Estudo', '2. Consulta Pública ',
                                                            '3. Análise TCU', '4. Edital publicado',
                                                            '5. Leilão realizado', '6. Contrato assinado']},
                                   index=[0,1,2,3,4,5])
df_modal_concessao

In [ ]:
df_pip_new['MODALIDADE PRORROGAÇÃO']

- Remove row and columns. Remover linas e colunas

In [26]:
df_pip_new_01 = df_pip_new.drop(columns = [' #', 'MODALIDADE CONCESSÃO', 'MODALIDADE PRORROGAÇÃO'])

In [27]:
df_pip_new_02 = df_pip_new_01.drop([0,1,2,3,4])

In [ ]:
df_pip_new_02.head()

- Apply changes in index and ajust first rows - Ajustando a primeira linha do df para gerar um novo index.

In [29]:
df_pip_new_03 = df_pip_new_02.reset_index(drop=True)

In [ ]:
df_pip_new_03.head(200)

## Isolate Dataframes - classificar base de dados

In [31]:
df_emprLocal = df_pip_new_03.loc[:, ['Empreendimento', 'UF']]

In [ ]:
display(df_emprLocal)

In [33]:
df_emprLocal_00 = df_emprLocal.drop(index = [191, 192, 193, 194])

In [ ]:
df_emprLocal_00

# Local buidings. - Localização das obras

- install frameworks

In [ ]:
!pip install geopandas

In [36]:
!pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

- import libs

In [37]:
import geopandas as gpds

- treat location

In [ ]:
gpds.tools.geocode(df_emprLocal_00['Empreendimento'], provider = 'nominatim', user_agent='UF Builds', country_bias = 'brazil_states')

In [39]:
df_emprLocal_01 = gpds.tools.geocode(df_emprLocal_00['Empreendimento'], provider = 'nominatim', user_agent='UF Builds', country_bias = 'brazil_states')['geometry']

In [40]:
# df_emprLocal_01 = df_emprLocal_00['Empreendimento'].dropna(how=('all'))
df_emprLocal_01

0      POINT (-38.34109 -12.90422)
1      POINT (-48.53533 -27.68058)
2       POINT (-38.53549 -3.77626)
3      POINT (-51.18287 -29.98773)
4       POINT (-35.71050 -9.66392)
5       POINT (-34.94622 -7.15926)
6      POINT (-37.07603 -10.98281)
7       POINT (-39.26783 -7.21970)
8       POINT (-35.89610 -7.27016)
9       POINT (-34.91461 -8.13418)
10     POINT (-56.10938 -15.65949)
11     POINT (-54.72482 -16.58343)
12     POINT (-54.20920 -11.26335)
13      POINT (-56.10604 -9.86616)
14     POINT (-52.39007 -15.86067)
15     POINT (-40.28136 -20.25609)
16     POINT (-41.76577 -22.34317)
17     POINT (-47.90483 -15.77169)
18     POINT (-43.96837 -19.63340)
19     POINT (-43.25862 -22.81122)
20     POINT (-46.48132 -23.43779)
21        GEOMETRYCOLLECTION EMPTY
22        GEOMETRYCOLLECTION EMPTY
23        GEOMETRYCOLLECTION EMPTY
24        GEOMETRYCOLLECTION EMPTY
25        GEOMETRYCOLLECTION EMPTY
26        GEOMETRYCOLLECTION EMPTY
27        GEOMETRYCOLLECTION EMPTY
28        GEOMETRYCOLLECTION EMPTY
29        GEOMETRYCOLLECTION EMPTY
30        GEOMETRYCOLLECTION EMPTY
31        GEOMETRYCOLLECTION EMPTY
32        GEOMETRYCOLLECTION EMPTY
33        GEOMETRYCOLLECTION EMPTY
34        GEOMETRYCOLLECTION EMPTY
35        GEOMETRYCOLLECTION EMPTY
36        GEOMETRYCOLLECTION EMPTY
37        GEOMETRYCOLLECTION EMPTY
38        GEOMETRYCOLLECTION EMPTY
39        GEOMETRYCOLLECTION EMPTY
40        GEOMETRYCOLLECTION EMPTY
41        GEOMETRYCOLLECTION EMPTY
42        GEOMETRYCOLLECTION EMPTY
43        GEOMETRYCOLLECTION EMPTY
44        GEOMETRYCOLLECTION EMPTY
45        GEOMETRYCOLLECTION EMPTY
46        GEOMETRYCOLLECTION EMPTY
47        GEOMETRYCOLLECTION EMPTY
48        GEOMETRYCOLLECTION EMPTY
49        GEOMETRYCOLLECTION EMPTY
50        GEOMETRYCOLLECTION EMPTY
51        GEOMETRYCOLLECTION EMPTY
52        GEOMETRYCOLLECTION EMPTY
53        GEOMETRYCOLLECTION EMPTY
54        GEOMETRYCOLLECTION EMPTY
55        GEOMETRYCOLLECTION EMPTY
56        GEOMETRYCOLLECTION EMPTY
57        GEOMETRYCOLLECTION EMPTY
58        GEOMETRYCOLLECTION EMPTY
59        GEOMETRYCOLLECTION EMPTY
60        GEOMETRYCOLLECTION EMPTY
61     POINT (-50.50056 -19.04419)
62     POINT (-48.88310 -26.29660)
63        GEOMETRYCOLLECTION EMPTY
64     POINT (-43.18706 -22.64757)
65     POINT (-43.26644 -22.01128)
66     POINT (-49.12143 -12.91521)
67     POINT (-60.06599 -12.86027)
68     POINT (-50.29751 -18.69330)
69        GEOMETRYCOLLECTION EMPTY
70        GEOMETRYCOLLECTION EMPTY
71     POINT (-50.64205 -27.45632)
72        GEOMETRYCOLLECTION EMPTY
73        GEOMETRYCOLLECTION EMPTY
74        GEOMETRYCOLLECTION EMPTY
75        GEOMETRYCOLLECTION EMPTY
76        GEOMETRYCOLLECTION EMPTY
77        GEOMETRYCOLLECTION EMPTY
78        GEOMETRYCOLLECTION EMPTY
79        GEOMETRYCOLLECTION EMPTY
80        GEOMETRYCOLLECTION EMPTY
81        GEOMETRYCOLLECTION EMPTY
82        GEOMETRYCOLLECTION EMPTY
83        GEOMETRYCOLLECTION EMPTY
84        GEOMETRYCOLLECTION EMPTY
85        GEOMETRYCOLLECTION EMPTY
86        GEOMETRYCOLLECTION EMPTY
87        GEOMETRYCOLLECTION EMPTY
88        GEOMETRYCOLLECTION EMPTY
89        GEOMETRYCOLLECTION EMPTY
90        GEOMETRYCOLLECTION EMPTY
91        GEOMETRYCOLLECTION EMPTY
92        GEOMETRYCOLLECTION EMPTY
93        GEOMETRYCOLLECTION EMPTY
94        GEOMETRYCOLLECTION EMPTY
95        GEOMETRYCOLLECTION EMPTY
96        GEOMETRYCOLLECTION EMPTY
97        GEOMETRYCOLLECTION EMPTY
98        GEOMETRYCOLLECTION EMPTY
99        GEOMETRYCOLLECTION EMPTY
100       GEOMETRYCOLLECTION EMPTY
101       GEOMETRYCOLLECTION EMPTY
102       GEOMETRYCOLLECTION EMPTY
103       GEOMETRYCOLLECTION EMPTY
104       GEOMETRYCOLLECTION EMPTY
105       GEOMETRYCOLLECTION EMPTY
106       GEOMETRYCOLLECTION EMPTY
107       GEOMETRYCOLLECTION EMPTY
108       GEOMETRYCOLLECTION EMPTY
109       GEOMETRYCOLLECTION EMPTY
110       GEOMETRYCOLLECTION EMPTY
111       GEOMETRYCOLLECTION EMPTY
112       GEOMETRYCOLLECTION EMPTY
113       GEOMETRYCOLLECTION EMPTY
114       GEOMETRYCOLLECTION EMPTY
115       GEOMETRYCOLLECTION EMPTY
116       GEOMETRYCOLLECTION EMPTY
117       GEOMETRYCOLLECTION EMPTY
118       GEOMETRYCOLLECTION EMPTY
119       GEOMETRYCOLLECTION EMPTY
120       GEOMETRYCOLLECTION EMPTY
121       GEOMETRYCOLLECTION EMPTY
122       GEOMETRYCOLLECTION EMPTY
123       GEOMETRYCOLLECTION EMPTY
124       GEOMETRYCOLLECTION EMPTY
125       GEOMETRYCOLLECTION EMPTY
126       GEOMETRYCOLLECTION EMPTY
127       GEOMETRYCOLLECTION EMPTY
128       GEOMETRYCOLLECTION EMPTY
129       GEOMETRYCOLLECTION EMPTY
130       GEOMETRYCOLLECTION EMPTY
131       GEOMETRYCOLLECTION EMPTY
132       GEOMETRYCOLLECTION EMPTY
133       GEOMETRYCOLLECTION EMPTY
134       GEOMETRYCOLLECTION EMPTY
135       GEOMETRYCOLLECTION EMPTY
136       GEOMETRYCOLLECTION EMPTY
137       GEOMETRYCOLLECTION EMPTY
138       GEOMETRYCOLLECTION EMPTY
139       GEOMETRYCOLLECTION EMPTY
140       GEOMETRYCOLLECTION EMPTY
141       GEOMETRYCOLLECTION EMPTY
142    POINT (-44.04578 -19.89558)
143       GEOMETRYCOLLECTION EMPTY
144       GEOMETRYCOLLECTION EMPTY
145       GEOMETRYCOLLECTION EMPTY
146       GEOMETRYCOLLECTION EMPTY
147       GEOMETRYCOLLECTION EMPTY
148       GEOMETRYCOLLECTION EMPTY
149       GEOMETRYCOLLECTION EMPTY
150       GEOMETRYCOLLECTION EMPTY
151       GEOMETRYCOLLECTION EMPTY
152       GEOMETRYCOLLECTION EMPTY
153       GEOMETRYCOLLECTION EMPTY
154       GEOMETRYCOLLECTION EMPTY
155       GEOMETRYCOLLECTION EMPTY
156       GEOMETRYCOLLECTION EMPTY
157       GEOMETRYCOLLECTION EMPTY
158       GEOMETRYCOLLECTION EMPTY
159       GEOMETRYCOLLECTION EMPTY
160       GEOMETRYCOLLECTION EMPTY
161       GEOMETRYCOLLECTION EMPTY
162       GEOMETRYCOLLECTION EMPTY
163       GEOMETRYCOLLECTION EMPTY
164       GEOMETRYCOLLECTION EMPTY
165       GEOMETRYCOLLECTION EMPTY
166       GEOMETRYCOLLECTION EMPTY
167       GEOMETRYCOLLECTION EMPTY
168       GEOMETRYCOLLECTION EMPTY
169       GEOMETRYCOLLECTION EMPTY
170       GEOMETRYCOLLECTION EMPTY
171       GEOMETRYCOLLECTION EMPTY
172       GEOMETRYCOLLECTION EMPTY
173       GEOMETRYCOLLECTION EMPTY
174       GEOMETRYCOLLECTION EMPTY
175       GEOMETRYCOLLECTION EMPTY
176       GEOMETRYCOLLECTION EMPTY
177       GEOMETRYCOLLECTION EMPTY
178       GEOMETRYCOLLECTION EMPTY
179       GEOMETRYCOLLECTION EMPTY
180       GEOMETRYCOLLECTION EMPTY
181       GEOMETRYCOLLECTION EMPTY
182       GEOMETRYCOLLECTION EMPTY
183       GEOMETRYCOLLECTION EMPTY
184       GEOMETRYCOLLECTION EMPTY
185       GEOMETRYCOLLECTION EMPTY
186       GEOMETRYCOLLECTION EMPTY
187       GEOMETRYCOLLECTION EMPTY
188       GEOMETRYCOLLECTION EMPTY
189       GEOMETRYCOLLECTION EMPTY
190       GEOMETRYCOLLECTION EMPTY
Name: geometry, dtype: geometry

In [41]:
df_emprLocal_01.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190])

In [42]:
ppi_map_00 = df_emprLocal_01.drop(index=[ 21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60, 63, 69, 70, 72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190])

In [43]:
ppi_map_00

0      POINT (-38.34109 -12.90422)
1      POINT (-48.53533 -27.68058)
2       POINT (-38.53549 -3.77626)
3      POINT (-51.18287 -29.98773)
4       POINT (-35.71050 -9.66392)
5       POINT (-34.94622 -7.15926)
6      POINT (-37.07603 -10.98281)
7       POINT (-39.26783 -7.21970)
8       POINT (-35.89610 -7.27016)
9       POINT (-34.91461 -8.13418)
10     POINT (-56.10938 -15.65949)
11     POINT (-54.72482 -16.58343)
12     POINT (-54.20920 -11.26335)
13      POINT (-56.10604 -9.86616)
14     POINT (-52.39007 -15.86067)
15     POINT (-40.28136 -20.25609)
16     POINT (-41.76577 -22.34317)
17     POINT (-47.90483 -15.77169)
18     POINT (-43.96837 -19.63340)
19     POINT (-43.25862 -22.81122)
20     POINT (-46.48132 -23.43779)
61     POINT (-50.50056 -19.04419)
62     POINT (-48.88310 -26.29660)
64     POINT (-43.18706 -22.64757)
65     POINT (-43.26644 -22.01128)
66     POINT (-49.12143 -12.91521)
67     POINT (-60.06599 -12.86027)
68     POINT (-50.29751 -18.69330)
71     POINT (-50.64205 -27.45632)
142    POINT (-44.04578 -19.89558)
Name: geometry, dtype: geometry

# Plot map with data

In [45]:
mapaBrasil = gpds.read_file('/content/brazil_states/BRUFE250GC_SIR.shp')
mapaBrasil.plot(figsize=(20, 20))

DriverError: ignored

# Formatting - FORMATAÇÃO

- Export file to csv

In [ ]:
# new_data_ppi.to_csv('easy_read_data_ppi.csv')

# Categorical variable

- Describe quantidades, particularidades, referência e frequência.

In [ ]:
df_pip_cats = ppi_df_v4.select_dtypes(include=object)

In [ ]:
df_pip_cats.describe()

In [ ]:
df_pip_cats.rename(columns={'Unnamed: 15' : 'Setor'}, inplace=True)

## One-hot enconder - tratamentode variáveis categoricas nominais.

- Category Encoders / Scikit Learn
 - Docs:
  -  https://contrib.scikit-learn.org/category_encoders/index.html
  - https://scikit-learn.org/stable/modules/preprocessing.html#preprocessing-categorical-features

In [ ]:
!pip install category_encoders

In [ ]:
import category_encoders as ce

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from category_encoders.one_hot import OneHotEncoder

In [ ]:
df_pip_cats['Setor'].head(15)

In [ ]:
one_hot_enc = OneHotEncoder(cols=['Setor'])

In [ ]:
one_hot_enc.fit_transform(df_pip_cats)

    Unnamed: 0  ...        Unnamed: 43
0          NaN  ...                NaN
1          NaN  ...                NaN
2          NaN  ...                NaN
3          NaN  ...                NaN
4            #  ...                NaN
..         ...  ...                ...
195        191  ...                NaN
196        NaN  ...                NaN
197        NaN  ...               0,00
198        NaN  ...                NaN
199        NaN  ...  30.673.364.977,72

[200 rows x 36 columns]

In [ ]:
df_pip_cats.loc[4]

- create dateframe reduced

In [ ]:
df_pip_cats.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Setor', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'MODALIDADE CONCESSÃO', 'MODALIDADE PRORROGAÇÃO', 'Unnamed: 43'],
      dtype='object')

In [ ]:
df_pip_cats.columns = [' #', 'Empreendimento', 'UF', 'Previsão de Conclusão', 'Investimentos\nEstimados',
                       'Outorga Efetiva', '% Excedente Partilha Mínimo (média das áreas)', '% Excedente Partilha', 'Nº Empresas participantes Leilões', 'Empresas Participantes',
                       'Nacionalidade', 'Publicação do Edital/\nTermo Aditivo', ' Sessão Pública (Leilão)', 'Licitante\nVencedora',
                       'Nacionalidade', 'Ministério', 'Setor', 'Subsetor',
                       'Modalidade\nOperacional', 'Qualificação', 'ESTUDO', 'CONSULTA PÚBLICA',
                       'ACÓRDÃO TCU', 'EDITAL', 'LEILÃO', 'CONTRATO', 'ESTÁGIO ATUAL DO PROCESSO',
                       'MODALIDADE CONCESSÃO', 'MODALIDADE PRORROGAÇÃO', 'NA']

In [ ]:
# df_pip_cats.raname(columns=lambda )
#    5544             return type(self).from_tuples(items, names=self.names)
#    5545         else:
# -> 5546             items = [func(x) for x in self]
#    5547             return Index(items, name=self.name, tupleize_cols=False)

# LabelEncoder

- Docs: 
 - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

# Data processing

Site of search

In [ ]:
url = '...'

Read the spreadsheet: the format can be different, in this case html

In [ ]:
html = pd.read_html(url, match='nome')

bulding local spreadsheet

In [ ]:
areas_leitura = {'coll': [1,2], 'coll': [3,4]}

In [ ]:
areas_leitura = pd.DataFrame()

# data command apply

- necessario para realizar a conversão e formatação de algum valor que esteja em uma formatação incoerente ao Pandas.

In [ ]:
# exemplo: modificar strings = type = object

# df_name['column_name'] = df_name['column_name'].apply(lambda x: str(x).replace(",", "."))

# exemplo: converter de type = object to type = float 

# df_name['column_name'] = df_name['column_name'].astype('float64') ## para que seja dado o inplace = true 

## realizar ações para calcular, por exemplo a média: 

# df_name['column_name'].mean()

## ou plotar 
# df_name['column_name'].plot()


################ CRiar DATAFRAMES 

#new_data_ppi = pd.DataFrame({'col00':[0,1,2],'col01':[0,1,2],'col02':[0,1,2]}, index=['row_00', 'row_01', 'row_02'])

# SERIES 

# variable = pd.Series(['0', '1', '2', '3'], index=['00', '01', '02', '03'], name='series_name')

 - modificando o tamanho de leitura do pandas, que por padrão virá: 50 caracteres

In [ ]:
# pd.get_option('max_colwidht') # mostra o tamanho máximo das colunas 
# df_name['column_name'].str.len().max() # mostra o tamenho máximo do conjunto de caractérias apresentado nessa column 
# pd.set_option('max_colwidth', 100) # atribui um valor desejado para o conjunto de caractéres apresentado, porém pode-se usar o < None > caso queira deixar ilimitado. 

## o mesmo serve para exibir todas as linhas ou colunas 

# pd.get_option('max_columns')
# pd.set_option('max_columns' 100)

# links úteis

- documentação pandas: 
 - https://pandas.pydata.org/

- Geopandas 
  - https://geopandas.org/en/stable/  

- OpenStreetMap
  - https://www.openstreetmap.org/ 

- settings pandas: 
 - https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html